.logo {
	position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 20%; 
}

input {
  border: 0;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 550;
    height: 45;
    padding-left: 20;
    display: inline-block;
}


input:focus{
  outline: 0;

}
.input-placeholder{
	resize: none;
	width: 580px;
	height: 45px;
	 border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 10%;
    bottom: 0; 
    border-color: aliceblue;
}

.arama-butonlar button {
	background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-family: arial,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 12px 2px;
    min-width: 54px;
    padding: 10 12px;
    text-align: center;
}

.arama-butonlar {
	left: 0;
	right: 0;
	top: 60%;
    position: absolute;
}
